/*.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.montserrat-alternates-semibold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-style: normal;
}


*/

h1 {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h3 {
  color: #000000;
  font-size: 40px;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.7;
}

.logo {
  max-width: 170px;
}

nav {
  padding: 20px 0;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 10px;
}

nav a {
  text-decoration: none;
  color: #000000;
  transition: all 100ms ease-in-out;
}

nav a:hover {
  color: #ffb8a4;
}

nav li.active a {
  color: #ffb8a4;
}

.hero {
  background: rgba(255, 184, 164, 0.11);
  text-align: center;
  padding: 84px 0;
  margin-bottom: 60px;
}

.hero p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  margin: 0;
}

.hero h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  line-height: 2;
}

.content-container {
  padding: 60px 20px;
}

.content-container h1 {
  font-size: 64px;
  line-height: 1;
}

.content-container h2 {
  font-size: 25px;
}

.content-container img {
  border-radius: 2%;
}

.content {
  margin: 30px;
}

.content h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
}

.btn-branding1 {
  background: #ffb8a4;
  border-radius: 10px;
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 27px;
  margin-right: 35px;
  padding: 12px 20px;
  text-align: center;
}

.btn-branding1:hover {
  color: white;
  background: #294022;
}

.btn-branding2 {
  background: #000000;
  border-radius: 10px;
  color: #ffff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 27px;
  margin: 0 auto;
  padding: 12px 20px;
  text-align: center;
}

.btn-branding-outline {
  background: #000000;
  border-radius: 10px;
  color: #ffff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 27px;
  margin: 0 auto;
  padding: 12px 20px;
  text-align: center;
}

.different-button {
  background: #ffb8a4;
  color: #000000;
}

.project-description {
  padding: 135px 60px;
}

footer {
  margin: 21px 0;
}

footer .contact-box {
  background: #ffb8a4;
  border-radius: 10px;
  padding: 30px 100px;
  top: 623px;
  left: 130px;
}

footer .email-link {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  color: #000000;
  font-size: 24px;
  line-height: 24px;
}

footer .email-link:hover {
  color: #294022;
}

footer .social-links a {
  margin: 0 16px;
  color: #000000;
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: #ffb8a4;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }

  .hero {
    padding: 80px 20px;
  }

  .content-container {
    text-align: center;
    padding: 0;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  nav a {
    font-size: 14px;
  }
}
